*, *::before, *::after
{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

:root
{
  --main_color : #252525;
  --secondary-color : #292929;
  --third-color : #D4D4D4;
  --shadow : 0px 0px 2px 2px rgba(43,43,43,0.75); /* #2B2B2B */
  --border-radius : 3px;
}

body
{
  min-height : 100vh;
}

body, *
{
  background-color : var(--main_color);
  color : var(--third-color);
  font-family : "Segoe UI", sans-serif;
}

a
{
  text-decoration : none;
  color : orange;
}

a:hover
{
  text-decoration : underline;
}

[class*="container"]
{
  display : flex;
  padding : 10px;
  padding-top : 0;
}

.container_placement
{
  min-height : 100vh;
  flex-flow: column nowrap;
  justify-content: center;
}

.container
{
  flex-flow : row wrap;
}

.connection_container
{
  flex-flow : column wrap;
  align-items : center;
}

.main_form, .login_form, .create_account_form
{
  display : flex;
  flex-flow : column wrap;
  flex : 1 1 75%;
  justify-content: center;
}

.fieldset_options
{
  flex-flow : row nowrap;
  border : none;
  margin-top : 11.5px;
}

.fieldset_options > legend
{
  margin : 0.75ch 0;
}

.label_textarea, .label_text
{
  margin : 0.75ch 0;
}

.label_textarea
{
  font-weight : bold;
}

.label_text
{
  font-size : 12.8px;
}

.account_label
{
  margin : 20px 0 5px 0;
}

.required
{
  color : orange;
}

textarea, input[type="text"], input[type="password"], input[type="email"]
{
  border : 1px solid #BBBBBB;
  overflow : hidden;
  overflow-wrap : break-word;
  padding : 10px;
}

textarea
{
  height : 300px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus
{
  outline : none;
}

input[type="submit"]
{
  border : none;
  width : 153px;
  height : 35px;
  margin : 30px auto 10px auto;
  cursor : pointer;
}

input[type="submit"]:hover
{
  box-shadow :
              0px 0px 20px 2px rgba(255, 140, 0, 0.75),
              0px 0px 5px 2px rgba(255, 140, 0, 0.75),
              inset 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border : 1px solid orange;
}

textarea, input[type="text"], input[type="password"], input[type="email"], input[type="submit"]
{
  border-radius : var(--border-radius);
  background-color : var(--secondary-color);
  box-shadow : var(--shadow);
  min-width : 30ch;
}

.fantom
{
  flex : 1 1 25%;
}

.cta
{
  margin-top : 15px;
}

.valid
{
  color : green;
}

.error
{
  color : red;
}
